# Charged-Particle

These are materials that have a library type of one of the following:
- `h`— incident hydrogen
- `o`— incident deuteron
- `r`— incident triton
- `s`— incident helion/He-3
- `a`— incident alpha 

## Listing
To get a list of discrete-energy neutron data, execute the following cells. To execute, select the cell and press `CTRL-Enter`.
## Columns
The main columns shown for fast neutrons are:

`ZAID`
: ZAID

`AWR`
: atomic weight ratio

`library`
: The collection of data tables making up a library of data

`path`
: Relative path to  where the actual data file is found

`ZA`
: ZA of the target material

`T(K)`
: The temperature (in Kelvin) of the material

`Date`
: The date the data was processed. There is some *very* old data

`NE`
: The number of energies in the grid

`Emax`
: The highest tabulated energy

In [3]:
import listing
XSDIR = listing.loadXSDIR()
lib_type = ['h', 'o', 'r', 's', 'a']
display = listing.DisplayData(XSDIR, lib_type)

To show the listing for a particular `ZA`, execute the `display` function which takes the `ZA` as an argument. If no `ZA` is given as an argument, *all* the entries will be displayed (and abbreviated) which is probably not what you want.

In [10]:
ZA = 2004
display()

,ZAID,AWR,library,path,ZA,T(K),Date,NE,Emax
0,2004.00a,3.967130,CP2020,CP2020/2004.00a,2004,0.0,2020-09-04,94,1.027740e+04
1,3006.00a,5.963449,CP2020,CP2020/3006.00a,3006,0.0,2020-09-10,209,6.121183e+24
2,3007.00a,6.955734,CP2020,CP2020/3007.00a,3007,0.0,2020-09-10,215,5.443377e+24
3,1002.00o,1.996256,CP2020,CP2020/1002.00o,1002,0.0,2020-09-04,101,6.387252e+08
4,1003.00o,2.989596,CP2020,CP2020/1003.00o,1003,0.0,2020-09-04,167,2.231511e+08
...,...,...,...,...,...,...,...,...,...
12062,1003.70r,2.989596,CP2011,CP2011/triton/1003.70r,1003,0.0,2011-08-30,75,6.430662e+08
12063,2003.70r,2.989032,CP2011,CP2011/triton/2003.70r,2003,0.0,2011-08-30,81,1.283966e+09
12064,2004.70r,3.967130,CP2011,CP2011/triton/2004.70r,2004,0.0,2011-08-30,201,9.869000e+02
12065,3006.70r,5.961817,CP2011,CP2011/triton/3006.70r,3006,0.0,2011-08-30,45,4.069680e+04
12066,3007.70r,6.955734,CP2011,CP2011/triton/3007.70r,3007,0.0,2011-07-07,205,8.281758e+24