In [1]:
import pandas as pd

import listing
XSDIR = listing.parseXSDIR()

In [4]:
entries = listing.ZAs_list(XSDIR,lib_type=['t'])

frame = pd.DataFrame([vars(entry) for entry in entries], columns=['zaid', 'ZA', 'filename','temperature'])
display(frame)

           zaid      ZA             filename   temperature
0      benz.40t    benz  ENDF80SaB2/benz.40t  2.551000e-08
1      benz.41t    benz  ENDF80SaB2/benz.41t  3.016000e-08
2      benz.42t    benz  ENDF80SaB2/benz.42t  3.447000e-08
3      benz.43t    benz  ENDF80SaB2/benz.43t  3.878000e-08
4      benz.44t    benz  ENDF80SaB2/benz.44t  4.309000e-08
..          ...     ...                  ...           ...
642   lmeth.01t   lmeth               therxs  8.617310e-09
643   hpara.01t   hpara               therxs  1.723460e-09
644  hortho.01t  hortho               therxs  1.723460e-09
645   dpara.01t   dpara               therxs  1.723460e-09
646  dortho.01t  dortho               therxs  1.723460e-09

[647 rows x 4 columns]

In [4]:
def addDetails():
    pass