# Coupled Neutron-Photon Discrete-Energy

These are materials that have a library type of `m`. 

## Listing
To get a list of discrete-energy neutron data, execute the following cells. To execute, select the cell and press `CTRL-Enter`.
## Columns
The main columns shown for fast neutrons are:

`ZAID`
: ZAID

`AWR`
: atomic weight ratio

`library`
: The collection of data tables making up a library of data

`path`
: Relative path to  where the actual data file is found

`ZA`
: ZA of the target material

`T(K)`
: The temperature (in Kelvin) of the material

`Date`
: The date the data was processed. There is some *very* old data

In [3]:
import listing
XSDIR = listing.loadXSDIR()
lib_type = 'm'
display = listing.DisplayData(XSDIR, lib_type)

To show the listing for a particular `ZA`, execute the `display` function which takes the `ZA` as an argument. If no `ZA` is given as an argument, *all* the entries will be displayed (and abbreviated) which is probably not what you want.

In [4]:
ZA = 1001
display()

            ZAID         AWR library    path     ZA  T(K)
11021   1001.50m    0.999172  mgxsnp  mgxsnp   1001   0.0
11023   1002.55m    1.996810  mgxsnp  mgxsnp   1002   0.0
11024   1003.50m    2.990154  mgxsnp  mgxsnp   1003   0.0
11025   2003.50m    2.990134  mgxsnp  mgxsnp   2003   0.0
11027   2004.50m    3.968238  mgxsnp  mgxsnp   2004   0.0
...          ...         ...     ...     ...    ...   ...
11166  95241.50m  238.987196  mgxsnp  mgxsnp  95241   0.0
11167  95242.50m  239.981303  mgxsnp  mgxsnp  95242   0.0
11168  95243.50m  240.974535  mgxsnp  mgxsnp  95243   0.0
11169  96242.50m  239.980599  mgxsnp  mgxsnp  96242   0.0
11170  96244.50m  241.967311  mgxsnp  mgxsnp  96244   0.0

[95 rows x 6 columns]